@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.rbc-time-view {
  overflow-y: hidden;
  .rbc-label {
    display: none;
  }

  .rbc-time-content {
    display: none;
  }

  .rbc-allday-cell {
    height: 100vh !important;
    max-height: unset;
  }
  .rbc-today {
    background-color: transparent;
  }
}
